.logo{
    width:74px;
    position: fixed;
    top:10px;
}

.header{
    fluid-title{
        margin-top:30px;
    }
}
fluid-title{
   text-align: center;
}
.btns-container{
    max-width: max-content;
    margin:100px auto;
}
.main-container{
    max-width: 400px;
    margin:auto;
}
.submit{
    display:flex;
    fluid-button{
        margin:auto;
    }
}
.margin-0{
    margin:0;
}